@import '~node_modules/modern-normalize/modern-normalize.css';

body {
  background-color: #fff;
}

.content-holder {
  margin: 0 auto;
  max-width: 20%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-top: 6rem;
}

.cat-image {
  display: flex;
  max-width: 300px;
  height: auto;
}

.cat-info {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.cat-description h2,
.cat-description p,
.cat-description span {
  display: flex;
}

.cat-description span {
  font-weight: 600px;
}

.loader {
    width: 48px;
    height: 48px;
    border: 3px solid #FFF;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
  }
.loader::after {
    content: '';  
    box-sizing: border-box;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 56px;
    height: 56px;
    border-radius: 50%;
    border: 3px solid;
    border-color: #FF3D00 transparent;
  }
  
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  } 